<!DOCTYPE html>
<html>
  <head>
    <title>sds-jiedu</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

    <script src="static/script/jquery.min.js"></script>
    <script src="static/script/js.cookie.js"></script>
    <script src="static/script/d3.v3.min.js"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <style type="text/css">

body {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#footer {
    position: absolute;
    z-index: 1;
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
    text-align: right;
}

rect {
    fill: none;
    pointer-events: all;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke-width: 2px;
}

.node rect {
    cursor: pointer;
    rx: 2px;
    ry: 2px;
    fill: #fff;
    stroke-width: 2px;
}

.node text {
    font-size: 12px;
    font-weight: bold;
}

path.link {
    fill: none;
    stroke: rgb(90, 12, 122);
    stroke-width: 5px;
}

    </style>
    </head>
    <body>

    <div id="node_tip" class="hide thumbnail" style="padding: 0px; position: absolute; opacity: 0;">
        <div class="caption" style="padding: 3px; background-color: lightgray;">
            <h3 id="node_name" class="text-center" style="margin-top: 10px;">node name</h3>
        </div>
        <div class="caption" style="padding: 3px; margin-top: 5px;">
            <table class="table table-striped table-condensed table-bordered" style="margin-bottom: 10px;">
                <thead>
                    <tr>
                    <th class="text-center">count</th>
                    <th class="text-center">level</th>
                    <th class="text-center">prob</th>
                    <th class="text-center">success</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td id="node_count">0</td>
                        <td id="node_level">0</td>
                        <td id="node_prob">0.00%</td>
                        <td id="node_success" style="color: red;">0.00%</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-right">
                <a id="bt_seelog" class="btn btn-info" href="/showlog" target="_blank">查看日志</a>
                <button id="bt_expandnode" type="button" class="btn btn-primary" onclick="expandMouseOverNode();">展开节点</button>
            </p>
        </div>
    </div>

    <div id="body">
        <div id="footer">
            <button type="button" class="btn btn-primary" onclick="expandWholeTree();">全部展开</button>
            <button type="button" class="btn btn-default" onclick="shrinkWholeTree();">全部收回</button>
        </div>
    </div>
    <script type="text/javascript">

var w_max = window.innerWidth,
    h_max = window.innerHeight;

var m = [20, 120, 20, 120],
    w = w_max - m[1] - m[3],
    h = h_max - m[0] - m[2],
    i = 0;

// set footer poisition
$("#footer").css("right", 5);

var root;

function comparator(a, b) {
    if (a.count > b.count) {
        return 1;
    } else if (a.count < b.count){
        return -1;
    } else {
        return a.name > b.name ? 1 : -1;
    }
}

function zoom() {
    update(root);
}

var zoom_x = d3.scale.linear()
    .domain([0, w])
    .range([0, w]);

var zoom_y = d3.scale.linear()
    .domain([0, h])
    .range([h, 0]);

var zoom = d3.behavior.zoom()
    .x(zoom_x)
    .y(zoom_y)
    .scaleExtent([0.5,5])
    .on("zoom", zoom);

var node_log_size = d3.scale.log()
    .range([4,20]);

var link_linear_opacity = d3.scale.linear()
    .domain([-0.1,1.1])
    .range([0.1,1]);

var tree = d3.layout.tree()
    .size([h, w])
    .sort(comparator);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var vis = d3.select("#body").append("svg:svg")
    .attr("width", w_max)
    .attr("height", h_max)
    .append("svg:g")
    .attr("transform", "translate(" + m[3] + "," + m[0] + ")")
    .call(zoom);

vis.append("rect")
    .attr("id", "overlay_rect")
    .attr("x", -$("#overlay_rect").offset().left)
    .attr("y", -$("#overlay_rect").offset().top)
    .attr("class", "overlay")
    .attr("width", w_max)
    .attr("height", h_max);

function toggleAll(d) {
    if (d.children) {
        d.children.forEach(toggleAll);
        toggle(d);
    }
}

d3.json(getUrlFromCookie(), function(json) {
    root = json;
    if (root != null && root != 'failed') {
        root.x0 = h / 2;
        root.y0 = 0;

        node_log_size.domain([1, root.count]);

        // Initialize the display to show a few nodes.
        root.children.forEach(toggleAll);
        //toggle(root.children[1]);

        update(root);
    }
});


function update(source) {
    var duration = d3.event && d3.event.altKey ? 5000 : 500;

    var get_size = function (count) {
        return node_log_size(count > 1 ? count : 1);
    }
    var get_color = function (depth) {
        return depth % 2 ? "royalblue" : "yellowgreen";
    }
    var fill_color = "lightsteelblue",
        empty_color = "white"

    // Compute the new tree layout.
    var nodes = tree.nodes(root);

    // Normalize for fixed-depth.
    nodes.forEach(function(d) {
        d.x = zoom_y(d.x);
        d.y = zoom_x(d.depth * 180);
        d.__shape = d.depth % 2 ? "svg:rect" : "svg:circle";
    });

    // Update the nodes…
    var node = vis.selectAll("g.node")
        .data(nodes, function(d) { return d.id || (d.id = ++i); });

    // Enter any new nodes at the parent's previous position.
    var nodeEnter = node.enter().append("svg:g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
        .on("click", function(d) { toggle(d); update(d); })

    nodeEnter.append(function(d) { return document.createElementNS("http://www.w3.org/2000/svg", d.__shape); })
        .attr("x", function(d) { return -get_size(d.count)})
        .attr("y", function(d) { return -get_size(d.count)})
        .attr("width", function(d) { return 2*get_size(d.count)})
        .attr("height", function(d) { return 2*get_size(d.count)})
        .attr("r", function(d) { return get_size(d.count)})
        .style("fill", function(d) { return d._children && d._children.length ? fill_color : empty_color; })
        .style("stroke", function(d) { return get_color(d.depth); })
        .on("mouseover", function(d) {
            node_onMouseOver(d);
        })
        .on("mouseout", function(d) {
            node_onMouseOut(d);
        })

    nodeEnter.append("svg:text")
        .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
        .attr("dy", ".35em")
        .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
        .text(function(d) { return d.name; })
        .style("fill-opacity", 1e-6);

    // Transition nodes to their new position.
    var nodeUpdate = node.transition()
        .duration(duration)
        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

    nodeUpdate.select("rect")
        .attr("x", function(d) { return -get_size(d.count)})
        .attr("y", function(d) { return -get_size(d.count)})
        .attr("width", function(d) { return 2*get_size(d.count)})
        .attr("height", function(d) { return 2*get_size(d.count)})
        .style("fill", function(d) { return d._children && d._children.length ? fill_color : empty_color; })
        .style("stroke", function(d) { return get_color(d.depth); })
    nodeUpdate.select("circle")
        .attr("r", function(d) { return get_size(d.count)})
        .style("fill", function(d) { return d._children && d._children.length ? fill_color : empty_color; })
        .style("stroke", function(d) { return get_color(d.depth); })

    nodeUpdate.select("text")
        .style("fill-opacity", 1);

    // Transition exiting nodes to the parent's new position.
    var nodeExit = node.exit().transition()
        .duration(duration)
        .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
        .remove();

    nodeExit.select("rect")
        .attr("x", function(d) { return -get_size(d.count)})
        .attr("y", function(d) { return -get_size(d.count)})
        .attr("width", function(d) { return 2*get_size(d.count)})
        .attr("height", function(d) { return 2*get_size(d.count)})
    nodeExit.select("circle")
        .attr("r", function(d) { return get_size(d.count)})

    nodeExit.select("text")
        .style("fill-opacity", 1e-6);

    // Update the links…
    var link = vis.selectAll("path.link")
        .data(tree.links(nodes), function(d) { return d.target.id; });

    // Enter any new links at the parent's previous position.
    link.enter().insert("svg:path", "g")
        .attr("class", "link")
        .style("opacity", function(d) { return link_linear_opacity(d.target.success ? d.target.success : 0); })
        .attr("d", function(d) {
            var o = {x: source.x0, y: source.y0};
            return diagonal({source: o, target: o});
        })
        .transition()
        .duration(duration)
        .attr("d", diagonal)

    // Transition links to their new position.
    link.transition()
        .duration(duration)
        .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    link.exit().transition()
        .duration(duration)
        .attr("d", function(d) {
            var o = {x: source.x, y: source.y};
            return diagonal({source: o, target: o});
        })
        .remove();

    // Stash the old positions for transition.
    nodes.forEach(function(d) {
        d.x0 = d.x;
        d.y0 = d.y;
    });
}

// Toggle children.
function toggle(d) {
    if (d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
    }
}


// Expand whole tree
function expandWholeTree(expand_node) {
    if (typeof(expand_node) == "undefined") {
        expand_node = root;
    }

    if (expand_node && expand_node._children) {
        expand_node.children = expand_node._children;
        expand_node._children = null;
    }

    expand_node.children.forEach(expandAll);
    update(expand_node);
}
function expandAll(d) {
    if (d.children || d._children) {
        expand(d);
        d.children.forEach(expandAll);
    }
}
// Expand children.
function expand(d) {
    if (d && d._children) {
        d.children = d._children;
        d._children = null;
    }
}
// Shrink whole tree
function shrinkWholeTree() {
     root.children.forEach(shrinkAll);
     update(root);
}
function shrinkAll(d) {
    if (d.children || d._children) {
        shrink(d);
        d._children.forEach(shrinkAll);
    }
}
// shrink children.
function shrink(d) {
    if (d && d.children) {
        d._children = d.children;
        d.children = null;
    }
}


node_tip = $("#node_tip");
node_name = $("#node_name");
node_count = $("#node_count");
node_level = $("#node_level");
node_prob = $("#node_prob");
node_success = $("#node_success");
bt_seelog = $("#bt_seelog");
bt_expandnode = $("#bt_expandnode");

// current data
var mouseover_data;

function expandMouseOverNode() {
    expandWholeTree(mouseover_data);
}

// flags
tip_stay_flag = false;
mouseout_tip_flag = true;

d3.select("#node_tip")
    .on("mouseover", function(d) {
        tip_stay_flag = true;
        if (!mouseout_tip_flag) {
            d3.select("#node_tip")
                .style("z-index", 1)
                .style("opacity",0.9);
        }
    })
    .on("mouseout", function(d) {
        mouseout_tip_flag = true;
        tip_stay_flag = false;
        setTimeout(function() {
            if (!tip_stay_flag) {
                d3.select("#node_tip").transition()
                    .duration(400)
                    .style("z-index", -1)
                    .style("opacity", "0");
            }
        }, 1200);
    })

function node_onMouseOver(d) {
    mouseover_data = d;
    setLogFilesCookie();

    node_tip.removeClass("hide");
    tip_stay_flag = true;

    var name_val = d.name ? d.name : "-";
    var count_val = d.count ? d.count : "-";
    var level_val = d.level || d.level==0 ? d.level : "-";
    var prob_val = d.prob || d.prob==0 ? (d.prob*100).toFixed(2) + '%' : "-";
    var success_val = d.success || d.success==0 ? (d.success*100).toFixed(2) + '%' : "-";

    node_name.html(name_val);
    node_count.html(count_val);
    node_level.html(level_val);
    node_prob.html(prob_val);
    node_success.html(success_val);
    if ((d.children && d.children.length != 0) || (d._children && d._children.length != 0)) {
        bt_expandnode.removeClass("hide");
    } else {
        bt_expandnode.addClass("hide");
    }
    if (d.files && d.files.length != 0) {
        bt_seelog.removeClass("hide");
    } else {
        bt_seelog.addClass("hide");
    }

    d3.select("#node_tip").transition()
        .duration(200)
        .style("z-index", 1)
        .style("opacity",0.9)
        .style("left", (d3.event.pageX + 30) + "px")
        .style("top", (d3.event.pageY + 20) + "px");
}

function node_onMouseOut(d) {
    mouseout_tip_flag = false;
    tip_stay_flag = false;
    setTimeout(function() {
        if (!tip_stay_flag) {
            d3.select("#node_tip").transition()
                .duration(400)
                .style("z-index", -1)
                .style("opacity", "0");
        }
    }, 1200);
}

function setLogFilesCookie() {
    if (mouseover_data.files) {
        var log_files_arr = mouseover_data.files;
        Cookies.set('log_files', log_files_arr.join(','));
    }
}

// return the file path that json file is located in the server
function getUrlFromCookie() {
    var catalog_name = Cookies.get('catalog_name');
    var domain_name = Cookies.get('domain_name');
    return "/gettree?catalog_name=" + catalog_name + "&domain_name=" + domain_name;
}

    </script>
    </body>
</html>
