<!DOCTYPE html>
<html>
<head>
    <title>sds-jiedu</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="static/bootstrap-fileinput-master/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <script src="static/script/jquery.min.js"></script>
    <script src="static/script/js.cookie.js"></script>
    <script src="static/bootstrap-fileinput-master/js/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="static/bootstrap-fileinput-master/js/fileinput.min.js" type="text/javascript"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-fileinput-master/js/fileinput_locale_zh.js"></script>
    <script src="static/script/d3.v3.min.js"></script>

</head>

<body style="padding-top: 10px;">


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                <div class="thumbnail">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="select_catalog" class="control-label col-sm-4">目录</label>
                            <div class="col-sm-8">
                                <select id="select_catalog" class="form-control">
                                </select>
                            </div>
                        </div>
                    </form>
                    <div id="div_table" style="overflow: auto;">
                        <table class="table table-hover">
                            <tbody id="tbody_domains">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="div_upload">
                    <label class="control-label">上传JSON文件(tree.json)</label>
                    <input id="input_file" type="file" name="file" class="file-loading" data-show-preview="false">
                </div>
            </div>
            <div class="col-md-10" style="border-left: 5px solid #eee">
                <div style="text-align:center;" id="frame_div">
                    <iframe id = "main_frame" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" src="/hehehe" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

$("#input_file").fileinput({
    allowedFileExtensions: ["json"],
    uploadUrl: "/upload",
    uploadAsync: true,

    browseClass: "btn btn-primary",
    browseLabel: "",
    browseIcon: "<i class=\"glyphicon glyphicon-folder-open\"></i> ",
    removeClass: "btn btn-danger",
    removeLabel: "",
    removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
    uploadClass: "btn btn-info",
    uploadLabel: "",
    uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
}).on('fileuploaded', function(event, data, previewId, index) {
    var form = data.form, files = data.files, extra = data.extra, response = data.response, reader = data.reader;
    Cookies.set('catalog_name', response.catalog_name);
    Cookies.set('domain_name', response.domain_name);

    update_iframe();
})

var w_max = window.innerWidth,
    h_max = window.innerHeight;

// margin: top, left, down, right
var m = [10, 120, 10, 120],
    w = w_max - m[1] - m[3],
    h = h_max - m[0] - m[2];

d3.select("#main_frame")
    .attr("width", "100%")
    .attr("height", h);

var div_upload_height = $("#div_upload").height();
var input_file_height = $("#input_file").height();
var table_top = $("#div_table").offset().top;
$('#div_table').height(h_max - table_top - div_upload_height - input_file_height - 40);

tbody_domains = $("#tbody_domains");
select_catalog = $("#select_catalog");

// Initialize select_catalog, including 'uploads' if exits
var datajson_str = "{{resultjson}}".replace(/&#34;/g, "\"");
var datajson = JSON.parse(datajson_str);
for (catalog_name in datajson) {
    catalog = datajson[catalog_name];
    var new_option = document.createElement("option");
    new_option.innerHTML = catalog_name;
    select_catalog.append(new_option);
}

select_catalog.change(function() {
    var catalog_name = select_catalog.val();
    Cookies.set('catalog_name', catalog_name);

    tbody_domains.empty();
    for (domain in datajson[catalog_name]) {
        var tr = document.createElement("tr");
        tr.setAttribute("onclick", "select_domain(this);");
        var td = document.createElement("td");
        td.innerHTML = domain;
        tr.appendChild(td);
        tbody_domains.append(tr);
    }
})

if (typeof(Cookies.get('catalog_name')) == 'string') {
    var tmp_catalog_name = Cookies.get('catalog_name');
    select_catalog.val(tmp_catalog_name);
}
select_catalog.change();

function select_domain(element) {
    $("tr.info").removeClass("info");
    $(element).addClass("info");

    var domain_name = $(element).children()[0].innerHTML;
    Cookies.set('domain_name', domain_name);

    update_iframe();
}

function update_iframe() {
    document.getElementById("main_frame").contentWindow.location.reload(true);
}

    </script>
</body>
</html>
